.cartIconBtn {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url("../../../assets/icons/shopping-bag.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  list-style: none;
  font-size: 12px;
}

.mainWrapper {
  position: relative;
}

.hamburgerIcon {
  position: absolute;
  visibility: hidden;
}

.navMainWrapper {
  border-bottom: 1px solid grey;
}
.nav {
  margin: 0 auto;
  max-width: 700px;
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 600px) {
  .li {
    visibility: hidden;
  }
  .hamburgerIcon {
    visibility: visible;
  }
}

.ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0 20px 0;
}

.li {
  list-style: none;
}

.cartButton {
  list-style: none;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

.navBar {
  text-decoration: none;
}

/* 
green: #3FAF82

*/

.box {
  border-radius: 2px;
  position: absolute;
  top: 70px;
  left: 70px;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;

  /* box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3); */
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  cursor: pointer;
}

.burgerSpan {
  display: block;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 4px;
  background: black;
  transition: all 0.3s;
  position: relative;
}

.burgerSpan + .burgerSpan {
  margin-top: 7px;
}

.active .burgerSpan:nth-child(1) {
  background-color: red;
  animation: ease 0.7s top forwards;
}

.notActive .burgerSpan:nth-child(1) {
  background-color: blue;
  animation: ease 0.7s top-2 forwards;
}

.active .burgerSpan:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.notActive .burgerSpan:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active .burgerSpan:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.notActive .burgerSpan:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
