.marker__wrapper {
  color: white;
  background-color: crimson;
  padding: 13px 20px;
  width: 50px;
  height: 50px;
  border-radius: 100% 100% 100% 0;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.marker__text {
  transform: rotate(45deg);
}
